#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25% auto;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('../../src/resources/images/spotlight2.svg');
  opacity: 0.8;
  background-attachment: absolute;
	background-size: cover;
}

#modal-content {
  position: absolute;
  background-color:#292929;
  border-radius: 20px;
  text-align: center;
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10% auto;
}